header.header
  img(class="header_avatar" src="/img/avatar.jpg")
  h1.header_title #{user_name}
  h2.header_sub-title #{user_jobtitle} 
    if user_company 
      | &bull; #{user_company}


article.article
  != partial("_info.md")


aside.aside

  h3.aside_title Contacts
  ul.aside_links
    if user_phone  
      li #{user_phone}
    li
      a(href="mailto:#{user_email}") #{user_email}


  if user_address || user_city
    h3.aside_title Location
    address.aside_address
      if user_address
        | #{user_address}<br>
      if user_city
        | #{user_city}


  h3.aside_title Networks
  ul.aside_links
    if linkedin_url
      li
        a(href="#{linkedin_url}" target="_blank") LinkedIn
    if twitter_url
      li
        a(href="#{twitter_url}" target="_blank") Twitter
    if facebook_url
      li
        a(href="#{facebook_url}" target="_blank") Facebook
    if github_url
      li
        a(href="#{github_url}" target="_blank") Github
    if google_url
      li
        a(href="#{google_url}" target="_blank") Google+
    if dribbble_url
      li
        a(href="#{dribbble_url}" target="_blank") Dribbble
    if flickr_url
      li
        a(href="#{flickr_url}" target="_blank") Flickr
    if vimeo_url
      li
        a(href="#{vimeo_url}" target="_blank") Vimeo
    if youtube_url
      li
        a(href="#{youtube_url}" target="_blank") Youtube
